<i class="fas fa-arrow-up" id="up-arrow"></i>
<div id="reseaux">


  <div>
    <a href="https://github.com/Nicolas-Puchois" target="_blank"></a><i id="linkedin" class="fab fa-linkedin"></i></a>
  </div>

  <div>
    <a href="www.linkedin.com/in/nicolas-puchois" target="_blank"></a><i id="github" class="fab fa-github"></i></a>
  </div>

</div>
<div id="reseaux-mobile">


  <div>
    <a href="https://github.com/Nicolas-Puchois" target="_blank"></a><i id="linkedin" class="fab fa-linkedin"></i></a>
  </div>

  <div>
    <a href="www.linkedin.com/in/nicolas-puchois" target="_blank"></a><i id="github" class="fab fa-github"></i></a>
  </div>

</div>
<footer>
  &copy; <span class="year"> </span> <span>by Nicolas</span>
  <script>
    const footerYear = document.querySelectorAll(".year");
    footerYear.forEach(copyright => {
      copyright.textContent = new Date().getFullYear();
    });
  </script>
</footer>
</body>

</html>